<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--清除默认监听器-->
        <clear />
        <!--添加自定义监听器-->
        <add name="MyTraceListener" type="TypeFundamentalLab.MyTraceListener, TypeFundamentalLab" 
             initializeData="e:\1.log" />
        <add name="FileLog"/>
      </listeners>
    </trace>
    <switches>
      <!--这里可以设定监听级别-->
      <add name="MyTraceListener" value="Error" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
          type="Microsoft.VisualBasic.Logging.FileLogTraceListener, 
                      Microsoft.VisualBasic, Version=8.0.0.0, 
                      Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, 
                      processorArchitecture=MSIL"
          initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>